@charset "utf-8";
	#arancione11
{
	position : absolute ;
	left : 562pt;
	top : 399pt;
	width : 180pt;
	height : 113pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#arancione5
{
	position : absolute ;
	left : 307pt;
	top : 1009pt;
	width : 326pt;
	height : 296pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#giallo14
{
	position : absolute ;
	left : 975pt;
	top : 590pt;
	width : 200pt;
	height : 255pt;
}
#arancione2
{
	position : absolute ;
	left : 183pt;
	top : 1334pt;
	width : 359pt;
	height : 109pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca4
{
	position : absolute ;
	left : -1pt;
	top : 836pt;
	width : 373pt;
	height : 386pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#logo
{
	/*background-image : url(logoorli.png);*/
	background-repeat : no-repeat;
	position : absolute ;
	left : -44pt;
	top : 39pt;
	width : 536pt;
	height : 281pt;
}
.XMLID_1_
{
	background-image : url(XMLID_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0pt;
	top : 143pt;
	width : 1280pt;
	height : 1453pt;
}
#fuxia13
{
	position : absolute ;
	left : 745pt;
	top : 413pt;
	width : 454pt;
	height : 724pt;
}
#fiume
{
	position : absolute ;
	left : -1pt;
	top : 680pt;
	width : 1089pt;
	height : 605pt;
}
#pesca16
{
	position : absolute ;
	left : 554pt;
	top : 46pt;
	width : 447pt;
	height : 300pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia9
{
	position : absolute ;
	left : 0pt;
	top : 501pt;
	width : 210pt;
	height : 407pt;
}
#giallo1
{
	position : absolute ;
	left : -1pt;
	top : 1277pt;
	width : 188pt;
	height : 158pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.icona_instagram
{
	background-image : url(icona_instagram.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 127pt;
	top : 370pt;
	width : 69pt;
	height : 69pt;
}
#rosa17
{
	position : absolute ;
	left : 1017pt;
	top : 50pt;
	width : 223pt;
	height : 416pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca12
{
	position : absolute ;
	left : 496pt;
	top : 551pt;
	width : 269pt;
	height : 179pt;
}
.icona_facebook
{
	background-image : url(icona_facebook.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 236pt;
	top : 369pt;
	width : 72pt;
	height : 72pt;
}
#giallo7
{
	position : absolute ;
	left : 206pt;
	top : 751pt;
	width : 384pt;
	height : 235pt;
}
#pesca10
{
	position : absolute ;
	left : 234pt;
	top : 422pt;
	width : 275pt;
	height : 230pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.icona_email
{
	background-image : url(icona_email.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 348pt;
	top : 371pt;
	width : 69pt;
	height : 69pt;
}
#pesca6
{
	position : absolute ;
	left : 706pt;
	top : 1071pt;
	width : 375pt;
	height : 274pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia15
{
	position : absolute ;
	left : 1155pt;
	top : 515pt;
	width : 105pt;
	height : 333pt;
}
#fuxia3
{
	position : absolute ;
	left : 647pt;
	top : 1330pt;
	width : 538pt;
	height : 113pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca8
{
	position : absolute ;
	left : 666pt;
	top : 853pt;
	width : 245pt;
	height : 180pt;
}
