@charset "utf-8";
	.x31_1_arancione_1_
{
	background : #E98048;
	background : rgba(233, 128, 72, 1);
	position : absolute ;
	left : 562pt;
	top : 533pt;
	width : 212pt;
	height : 133pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x35__arancione_1_
{
	background : #E98048;
	background : rgba(233, 128, 72, 1);
	position : absolute ;
	left : 307pt;
	top : 1143pt;
	width : 383pt;
	height : 384pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x31_4_giallo_1_
{
	background : #F0D145;
	background : rgba(240, 209, 69, 1);
	position : absolute ;
	left : 975pt;
	top : 724pt;
	width : 235pt;
	height : 300pt;
}
.x32__arancione
{
	background : #E98048;
	background : rgba(233, 128, 72, 1);
	position : absolute ;
	left : 183pt;
	top : 1468pt;
	width : 422pt;
	height : 128pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.XMLID_1_
{
	background-image : url(XMLID_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0pt;
	top : 143pt;
	width : 1280pt;
	height : 1453pt;
}
.x31_3_fuxia_1_
{
	background : #C41A78;
	background : rgba(196, 26, 120, 1);
	position : absolute ;
	left : 745pt;
	top : 547pt;
	width : 534pt;
	height : 852pt;
}
.fiume_1_
{
	background : #38B0CA;
	background : rgba(56, 176, 202, 1);
	position : absolute ;
	left : -1pt;
	top : 814pt;
	width : 1281pt;
	height : 712pt;
}
.x31_6_pesca_1_
{
	background : #E09085;
	background : rgba(224, 144, 133, 1);
	position : absolute ;
	left : 554pt;
	top : 180pt;
	width : 526pt;
	height : 353pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x34__pesca
{
	background : #DF97A5;
	background : rgba(223, 151, 165, 1);
	position : absolute ;
	left : -1pt;
	top : 970pt;
	width : 439pt;
	height : 454pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x39__fuxia_1_
{
	background : #C41A78;
	background : rgba(196, 26, 120, 1);
	position : absolute ;
	left : 0pt;
	top : 635pt;
	width : 247pt;
	height : 479pt;
}
.x31__giallo_1_
{
	background : #F0D145;
	background : rgba(240, 209, 69, 1);
	position : absolute ;
	left : -1pt;
	top : 1411pt;
	width : 221pt;
	height : 186pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x31_7_rosa_1_
{
	background : #DF97A5;
	background : rgba(223, 151, 165, 1);
	position : absolute ;
	left : 1017pt;
	top : 184pt;
	width : 262pt;
	height : 489pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x31_2_pesca_1_
{
	background : #E09085;
	background : rgba(224, 144, 133, 1);
	position : absolute ;
	left : 496pt;
	top : 685pt;
	width : 317pt;
	height : 211pt;
}
.x37__giallo_1_
{
	background : #F0D145;
	background : rgba(240, 209, 69, 1);
	position : absolute ;
	left : 206pt;
	top : 885pt;
	width : 452pt;
	height : 276pt;
}
.x31_0_pesca_1_
{
	background : #E09085;
	background : rgba(224, 144, 133, 1);
	position : absolute ;
	left : 234pt;
	top : 556pt;
	width : 323pt;
	height : 271pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x36__pesca_1_
{
	background : #E09085;
	background : rgba(224, 144, 133, 1);
	position : absolute ;
	left : 706pt;
	top : 1205pt;
	width : 441pt;
	height : 322pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x31_5_fuxia_1_
{
	background : #C41A78;
	background : rgba(196, 26, 120, 1);
	position : absolute ;
	left : 1155pt;
	top : 649pt;
	width : 124pt;
	height : 392pt;
}
.x33__fuxia_1_
{
	background : #C41A78;
	background : rgba(196, 26, 120, 1);
	position : absolute ;
	left : 647pt;
	top : 1464pt;
	width : 633pt;
	height : 134pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.x38__pesca
{
	background : #DF97A5;
	background : rgba(223, 151, 165, 1);
	position : absolute ;
	left : 666pt;
	top : 987pt;
	width : 288pt;
	height : 212pt;
}
