@charset "utf-8";
	#arancione11
{
	position : absolute ;
	left : 562pt;
	top : 399pt;
	width : 212pt;
	height : 133pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#arancione5
{
	position : absolute ;
	left : 307pt;
	top : 1009pt;
	width : 383pt;
	height : 384pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#giallo14
{
	position : absolute ;
	left : 975pt;
	top : 590pt;
	width : 235pt;
	height : 300pt;
}
#arancione2
{
	position : absolute ;
	left : 183pt;
	top : 1334pt;
	width : 422pt;
	height : 128pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca4
{
	position : absolute ;
	left : -1pt;
	top : 836pt;
	width : 439pt;
	height : 454pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#logo
{
	/*background-image : url(logoorli.png);*/
	background-repeat : no-repeat;
	position : absolute ;
	left : -44pt;
	top : 39pt;
	width : 631pt;
	height : 331pt;
}
.XMLID_1_
{
	background-image : url(XMLID_1_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 0pt;
	top : 143pt;
	width : 1280pt;
	height : 1453pt;
}
#fuxia13
{
	position : absolute ;
	left : 745pt;
	top : 413pt;
	width : 534pt;
	height : 852pt;
}
#fiume
{
	position : absolute ;
	left : -1pt;
	top : 680pt;
	width : 1281pt;
	height : 712pt;
}
#pesca16
{
	position : absolute ;
	left : 554pt;
	top : 46pt;
	width : 526pt;
	height : 353pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia9
{
	position : absolute ;
	left : 0pt;
	top : 501pt;
	width : 247pt;
	height : 479pt;
}
#giallo1
{
	position : absolute ;
	left : -1pt;
	top : 1277pt;
	width : 221pt;
	height : 186pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.icona_instagram
{
	background-image : url(icona_instagram.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 127pt;
	top : 370pt;
	width : 69pt;
	height : 69pt;
}
#rosa17
{
	position : absolute ;
	left : 1017pt;
	top : 50pt;
	width : 262pt;
	height : 489pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca12
{
	position : absolute ;
	left : 496pt;
	top : 551pt;
	width : 317pt;
	height : 211pt;
}
.icona_facebook
{
	background-image : url(icona_facebook.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 236pt;
	top : 369pt;
	width : 72pt;
	height : 72pt;
}
#giallo7
{
	position : absolute ;
	left : 206pt;
	top : 751pt;
	width : 452pt;
	height : 276pt;
}
#pesca10
{
	position : absolute ;
	left : 234pt;
	top : 422pt;
	width : 323pt;
	height : 271pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
.icona_email
{
	background-image : url(icona_email.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 348pt;
	top : 371pt;
	width : 69pt;
	height : 69pt;
}
#pesca6
{
	position : absolute ;
	left : 706pt;
	top : 1071pt;
	width : 441pt;
	height : 322pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia15
{
	position : absolute ;
	left : 1155pt;
	top : 515pt;
	width : 124pt;
	height : 392pt;
}
#fuxia3
{
	position : absolute ;
	left : 647pt;
	top : 1330pt;
	width : 633pt;
	height : 134pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca8
{
	position : absolute ;
	left : 666pt;
	top : 853pt;
	width : 288pt;
	height : 212pt;
}
