@charset "utf-8";


@media (min-width: 1024px) {
	#fiume
{
	position : absolute ;
	left : 397pt;
	top : 907pt;
	width : 987pt;
	height : 172pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#arancione1
{
	position : absolute ;
	left : 587pt;
	top : -1pt;
	width : 436pt;
	height : 438pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#logoOrli
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 41pt;
	top : 19pt;
	width : 496pt;
	height : 260pt;
}
#pesca4
{
	position : absolute ;
	left : 0pt;
	top : 364pt;
	width : 83pt;
	height : 263pt;
}
#giallo2
{
	position : absolute ;
	left : 976pt;
	top : 0pt;
	width : 692pt;
	height : 52pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia8
{
	position : absolute ;
	left : 1575pt;
	top : 63pt;
	width : 345pt;
	height : 672pt;
}
#fuxia9
{
	position : absolute ;
	left : 0pt;
	top : 627pt;
	width : 561pt;
	height : 452pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia11
{
	position : absolute ;
	left : 995pt;
	top : 538pt;
	width : 263pt;
	height : 199pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#giallo5
{
	position : absolute ;
	left : 127pt;
	top : 390pt;
	width : 636pt;
	height : 310pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#rosa15
{
	position : absolute ;
	left : 527pt;
	top : 984pt;
	width : 630pt;
	height : 96pt;
}
#arancione10
{
	position : absolute ;
	left : 540pt;
	top : 572pt;
	width : 436pt;
	height : 348pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca12
{
	position : absolute ;
	left : 896pt;
	top : 753pt;
	width : 431pt;
	height : 261pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#rosa14
{
	position : absolute ;
	left : 1523pt;
	top : 719pt;
	width : 396pt;
	height : 360pt;
}
#pesca6
{
	position : absolute ;
	left : 736pt;
	top : 466pt;
	width : 213pt;
	height : 120pt;
}
#rosa7
{
	position : absolute ;
	left : 961pt;
	top : 60pt;
	width : 721pt;
	height : 496pt;
}
#logofacebook
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 275pt;
	top : 285pt;
	width : 48pt;
	height : 48pt;
}
#giallo13
{
	position : absolute ;
	left : 1218pt;
	top : 566pt;
	width : 464pt;
	height : 514pt;
}
#logoinstagram
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 156pt;
	top : 286pt;
	width : 46pt;
	height : 46pt;
}
#arancione3
{
	position : absolute ;
	left : 1705pt;
	top : 0pt;
	width : 215pt;
	height : 101pt;
}
#logoemail
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 397pt;
	top : 286pt;
	width : 46pt;
	height : 46pt;
}
}


@media (min-width: 2160px) {

#logoemail
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 793pt;
	top : 571pt;
	width : 93pt;
	height : 93pt;
}
#pesca12
{
	position : absolute ;
	left : 1792pt;
	top : 1506pt;
	width : 862pt;
	height : 522pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia11
{
	position : absolute ;
	left : 1989pt;
	top : 1076pt;
	width : 527pt;
	height : 399pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#giallo5
{
	position : absolute ;
	left : 254pt;
	top : 780pt;
	width : 1272pt;
	height : 620pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#rosa14
{
	position : absolute ;
	left : 3045pt;
	top : 1438pt;
	width : 792pt;
	height : 720pt;
}
#arancione10
{
	position : absolute ;
	left : 1079pt;
	top : 1145pt;
	width : 871pt;
	height : 697pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#pesca6
{
	position : absolute ;
	left : 1472pt;
	top : 931pt;
	width : 426pt;
	height : 240pt;
}
#pesca4
{
	position : absolute ;
	left : -1pt;
	top : 728pt;
	width : 166pt;
	height : 525pt;
}
#fuxia9
{
	position : absolute ;
	left : 0pt;
	top : 1254pt;
	width : 1121pt;
	height : 903pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#fuxia8
{
	position : absolute ;
	left : 3148pt;
	top : 125pt;
	width : 689pt;
	height : 1343pt;
}
#arancione3
{
	position : absolute ;
	left : 3408pt;
	top : 0pt;
	width : 429pt;
	height : 201pt;
}
#giallo13
{
	position : absolute ;
	left : 2436pt;
	top : 1133pt;
	width : 929pt;
	height : 1028pt;
}
#fiume
{
	position : absolute ;
	left : 793pt;
	top : 1814pt;
	width : 1974pt;
	height : 345pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#logoinstagram
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 311pt;
	top : 571pt;
	width : 93pt;
	height : 93pt;
}
#giallo2
{
	position : absolute ;
	left : 1951pt;
	top : 0pt;
	width : 1385pt;
	height : 103pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#rosa7
{
	position : absolute ;
	left : 1922pt;
	top : 120pt;
	width : 1443pt;
	height : 992pt;
}
#logoOrli
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 81pt;
	top : 38pt;
	width : 992pt;
	height : 520pt;
}
#arancione1
{
	position : absolute ;
	left : 1174pt;
	top : -2pt;
	width : 873pt;
	height : 876pt;
	border-radius : 0pt;
	-moz-border-radius : 0pt;
	-webkit-border-radius : 0pt;
}
#logofacebook
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 549pt;
	top : 569pt;
	width : 97pt;
	height : 97pt;
}
#rosa15
{
	position : absolute ;
	left : 1053pt;
	top : 1969pt;
	width : 1260pt;
	height : 192pt;
}

}